/* Search bar / buttons / image etc */
.listContent {
  margin-left: 4em;
  width: 90%;
}

.searchBar {
  margin-top: 3em;
  margin-bottom: 1em;
  margin-left: 4em;
  margin-right: 3em;
  width: 70%;
}

.search {
	font-size: 10pt;
	border-bottom: 1px solid #dcdcdc;
  height: 2.3em;
}

.search-image {
	float: left;
    content:url('images/search24.png');
	/* thanks to http://www.aha-soft.com/ for the magnifying glass icon */
    margin-right: 1em;
}

.search input[type=text] {
	margin-left: 1em;
  width: 50%
}

.searchButton {
	display: inline;
	float: right;
}

#clearSearchButton {
	margin-left:0.2em;
}

/* Pagination bar */

.pagination {
	font-size: 10pt;
	padding-top: 0.5em;
	/* border-bottom: 1px solid #dcdcdc;
  height: 1.5em; */
}

/* Styles for the rendered report region (SPRT) */

.rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/* margin: 45px; */
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.rounded-corner thead th.rounded-start
{
	background: #00649e url('images/left.png') left -1px no-repeat;
}
.rounded-corner thead th.rounded-end
{
	background: #00649e url('images/right.png') right -1px no-repeat;
}

.rounded-corner tbody tr
{
  cursor: pointer;
}

.rounded-corner tbody tr.row-0,
.rounded-corner tbody tr.tablerowdata
{
  background: #e8edff;
}

.rounded-corner tbody tr.row-1
{
  background: #dae5f4;
}

.rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: white;
        font-weight: bold;
	background: #00649e;
}
.rounded-corner td
{
	padding: 8px;
/*	background: #e8edff;
	color: #669; */
	border-top: 1px solid #fff;
}
.rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('images/botleft.png') left bottom no-repeat;
        text-align: left;
}
.rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('images/botright.png') right bottom no-repeat;
        text-align: right;
}
.rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}

.rounded-corner tfoot td.table-buttons-left
{
	background: #fff;
	color: #000;
}

.rounded-corner tfoot td.table-buttons-right
{
	background: #fff;
	color: #000;
	text-align: right;
}
